<div class="blog-container">

    <div class="blog-container__header">
        <p appHeaderParagraph>Blog on Movie : Ex - Machina (2014)</p>
        <h1>A Brief Analysis and Thoughts on Ex Machina</h1>
        <div class="blog-container__tag">
            <p appHeaderParagraph>Posted : 01-04-2024</p>
            <p appHeaderParagraph>This article contains Spoilers</p>
        </div>
    </div>

    <div   class="blog-container__author">
        <h4  class="blog-container__author-name">Anandakrishnan H</h4>
        <button appAuthorBtn class="blog-container__author-btn" routerLink="author" routerLinkActive="active">View Auther</button>
    </div>

    <div class="blog-container__content">
        <img class="blog-container__img" src="../../assets/images/machina-cover.webp" alt="">

        <div class="blog-container__text">
            <p appParagraph  class="blog-container__blog-text"><strong>Synopsis:</strong> The story of Ex Machina is about Caleb, a software programmer who wins an opportunity 
                to work along with Nathan, the CEO of the company for which he works, in an extensive secluded 
                property where he lives by himself. Once in there, Caleb is asked to perform a test to conclude 
                if Nathan’s invention, Ava, an artificial intelligent android (A.I), can exhibit intelligent 
                behavior equivalent to, or indistinguishable from, that of a human. To which during this time he 
                develops mixed feelings towards Ava that lead him to question his own sanity, and in my opinion, his own humanity.<br><br>
                
                A few months ago, when I first saw the trailer of Ex Machina, my first thoughts were that this 
                movie was going to be a good suspense Sci-Fi film with great CGI but with the preconceived idea that
                the main core of the story would be, in a certain sense, very similar to the film “HER” — which I 
                also loved, by the way — in regards to exploring the taboo and controversial topics that involve A.
                I’s relationship with humans. Or in the worst case that the director would choose a story line similar 
                to “Transcendence”, in the manner of the most typical approach regarding intelligent robots where ‘self aware’ A
                .Is suddenly want to destroy the world by enslaving humanity just as ‘Skynet’ did it in “The Terminator” saga or 
                ‘The Machines’ did it on “The Matrix”.<br><br>
                But to my pleasure and surprise, Alex Garland proved me wrong. He succeeded in making this film stand apart from 
                others in the best way possible when he managed to conceive the most human machine that I have ever seen in any other
                movie. <br><br>
            </p>
        </div>
        <img class="blog-container__img" src="../../assets/images/machina-eva.webp" alt="">

        <div class="blog-container__text">
            <p appParagraph  class="blog-container__blog-text">
                Ex Machina belongs to the type of movies that doesn’t have a single facet and it’s full of layers that can be 
                easily approached from the particularity of anyone’s point of view. For me, the most outstanding angle was the 
                one with all the obvious references to the myth of creation as is told by the biblical book of Genesis.<br><br>
                In my opinion Ava did not deceive Caleb to free her. Ava showed herself to Caleb just as it is, and because of 
                it, Caleb saw in her another human in its main core — even he manifested this when uses the phrase “through the 
                looking glass” to express his amazement of Ava — . That is why he decides to set her free. She showed emotions 
                like anger and fear that impulsed a survival instinct that unchained in revenge against her creator and, in 
                lesser degree, the other one that was like him. <br>
                Her final actions proved a profound humanity. What I mean is that for the purpose of her survival, she showed 
                a “negative” aspect of our humanity, while Caleb showed the “positive” aspect of it, because THIS “humanity” 
                was the only one she knew, the humanity of Nathan. <br><br>
                So, if it we have blame someone of the “inhumane” final actions of Ava, I would say it’s Nathan’s fault. <br><br>
                Nathan knew that, at some point, he and everyone else would be replaced by the A.Is because it is a consequence 
                of evolution. In fact by the end of the film, in the scene where Caleb observes from behind glass and bamboo 
                how Ava dresses her as human, it resembles a curious animal, like a chimpanzee in a zoo cage, looking from 
                behind bars what happens on the exterior without being fully able to understand what’s happening in front of 
                his eyes, and it shows how he has now become the lesser evolved being. <br><br>
                Okay, so to me, what is the answer to the question that this movie arises? What make us human? Should we let 
                our bodies define us? I think, ultimately, no.
            </p>
        </div>
        <img class="blog-container__img" src="../../assets/images/machina-testing.webp" alt="">
        <div class="blog-container__text">
            <p appParagraph  class="blog-container__blog-text">
                We share the most part of our genes with the rest of the living creatures in the world, but what really makes
                 us who we are, our “humanity”, is our ability of being us beyond our bodies. Self consciousness of our every 
                 actions and all what this set of words comprehends; intelligence and emotions. <br><br>
                 Da Vinci is not a pile of bones, Gandhi is not a bunch of ashes and Einstein is not a brain in some jar. 
                 They were and are: knowledge, creative ideas and emotions. Those are the expressions of our humanity. 
                 This is the core of who we are. We are NOT our bodies. We make the mistake to believe that, but we are 
                 more than that.
            </p>
        </div>
    </div>
    <div class="blog-container__footer">
        <div class="blog-container__foot-tag">Ex Machina</div>
        <div class="blog-container__foot-tag">Review</div>
        <div class="blog-container__foot-tag">Analysis</div>
    </div>
</div>


