<div class="author-container">
    <div class="author-container__header">
        <h1>Author Profile</h1>
    </div>

    <div class="author-container__body">
        <div class="author-container__profile">
            <div class="author-container__image-container">
                <img class="author-container__image" src="../../assets/images/author.jpg" alt="">
            </div>
            <div class="author-container__profile-text">
                <h1 >Anandakrishnan H</h1>
                <p appHeaderParagraph class="author-container__role">Film Critic | Writer</p>
                <p appParagraph class="author-container__bio">Anandakrishnan H is a seasoned film critic renowned for their 
                    insightful analysis and passionate advocacy for cinema. With over 
                    15 years of experience in the industry, Anandakrishnan has established 
                    themselves as a trusted voice among audiences, filmmakers, and fellow critics alike.<br>
                    Over the years, Anandakrishnan has honed their craft through diligent study, 
                    extensive research, and a tireless dedication to the cinematic medium. 
                    They possess a profound understanding of film history, theory, and technique, 
                    allowing them to dissect movies with nuance and depth, while also championing emerging 
                    voices and groundbreaking narratives.<br>
                    Follow Anandakrishnan on instagram, facebook and X to stay updated on their latest reviews, 
                    articles, and insights into the world of film.
                </p>
            </div>
        </div>
        <div class="author-container__return">
            <button appAuthorBtn class="author-container__return-btn" routerLink="" routerLinkActive="active">Go Back</button>

        </div>
    </div>
</div>